h1 {
    text-align: center;
    color: black;
    font-size: 4em;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(196, 196, 196);
}

body {
    font-family: Arial, sans-serif;
    background-image: url('website_background.png');
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.5;
}

.note {
    background-color: #f1f1f1;
    border-left: 3px solid #023661;
    padding: 20px;
    margin: 20px 0;
    font-style: italic;
}

.page {
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 30px 20px 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Code block styling */

pre[class*="language-"] {
    background-color: #f3f3f3 !important;
    border: 1px solid #8d8d8d !important;
    border-radius: 6px;
    padding: 20px;
}

.token.keyword {
    color: #0a5fa5 !important;
}

.token.string {
    color: #00791e !important;
}

.token.function {
    color: #000000 !important;
}

.token.variable {
    color: #000000 !important;
}

.token.property {
    color: #000000 !important;
}

.token.comment {
    color: #525252 !important;
}

.token.class-name {
    color: #be2626 !important;
}

.token.punctuation {
    color: #000000 !important;
}